apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "ai-llm-reference-app.fullname" . }}
spec:
  podSelector:
    matchLabels:
      app: {{ include "ai-llm-reference-app.name" . }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector: {}
  egress:
    - to:
        - namespaceSelector: {}
