replicaCount: 3

image:
  tag: prod

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 1024Mi

hpa:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  cpuUtilization: 50
